<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Stock Ticker Viewer">
    <meta name="author" content="Brian Schaefer">
    <!-- <link rel="icon" href="favicon.ico"> -->

    <title>Stock visualizer</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    {{ js_resources|indent(4)|safe }}
    {{ css_resources|indent(4)|safe }}
    {{ plot_script|indent(4)|safe }}

  </head>
  <body>
    <p> Enter stock symbol below: </p>
    <form method="POST">
      <div class="form-inline">
        <div class="form-group">
          <input pattern="[a-zA-Z]+"  oninvalid="setCustomValidity('Please enter letters only.')"  style="text-transform: uppercase;" type="text" class="line-input" name="symbol" placeholder="AAPL">
        </div>
      </div>

      <div class="form-group">
        <button type="submit">Update plot</button>
      </div>
    </form>
    <p>{{ msg }}</p>
    {{ plot_div|indent(4)|safe }}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
